<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    
   
    <servlet>
        <servlet-name>index</servlet-name>
        <jsp-file>/index.jsp</jsp-file>
    </servlet> 
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>home</servlet-name>
        <jsp-file>/alugar.jsp</jsp-file>
    </servlet>    
    <servlet-mapping>
        <servlet-name>home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>devolver</servlet-name>
        <jsp-file>/devolucao.jsp</jsp-file>
    </servlet>    
    <servlet-mapping>
        <servlet-name>devolver</servlet-name>
        <url-pattern>/devolucao</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>notificacoes</servlet-name>
        <jsp-file>/notificacoes.jsp</jsp-file>
    </servlet>    
    <servlet-mapping>
        <servlet-name>notificacoes</servlet-name>
        <url-pattern>/notificacoes</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>cadastro</servlet-name>
        <jsp-file>/cadastro.jsp</jsp-file>
    </servlet>    
    <servlet-mapping>
        <servlet-name>cadastro</servlet-name>
        <url-pattern>/cadastro</url-pattern>
    </servlet-mapping>
        
</web-app>
